[workspace]
authors = ["Anthony Tong <atong28.usa@gmail.com>"]
channels = ["https://prefix.dev/conda-forge"]
name = "SMILES-VAE"
platforms = ["linux-64"]
version = "0.1.0"

[dependencies]
python = ">=3.11,<3.12"
numpy = ">=2.3.3,<3"
matplotlib = ">=3.10.6,<4"
pandas = ">=2.3.2,<3"
wandb = ">=0.21.1,<0.22"
rdkit = ">=2025.3.6,<2026"
ipython = ">=9.5.0,<10"
jupyter = ">=1.1.1,<2"
ipykernel = ">=6.30.1,<7"

[pypi-dependencies]
torch = { version = "==2.7.1", index = "https://download.pytorch.org/whl/cu128" }
torchvision = { version = "==0.22.1", index = "https://download.pytorch.org/whl/cu128" }
lightning = { version = "==2.5.5" }